<div class="container">
        <div class="row">
                <div class="col-md-10 mx-auto">
                        <div class="shadow-lg rounded">
                                <div class="card my-5">
                                        <div class="card-body" style="padding: 40px;">
                                                <h3 class="card-title text-center">About Us</h3><br>
                                                <img id="myImg" class="mx-auto" src="asset/img/aboutus.jpg" alt="Our Team Together" width="100%"
                                                 height="200" style="border: 1px solid #ddd; object-fit: cover; margin-bottom: 40px;" />
                                                <br>
                                                <div>
                                                        <p>We are a group of highly motivated computer programmers who value equality and co-ordination. In our eyes, everyone
                                                                must have equal rights to have access to the tools and equipment that they need to make their dreams come to
                                                                reality.
																<br /><br />
                                                                At <strong><em>Rent'emAll</em></strong>, we try to remove barriers and limitations of accessing to the goods and tools for everyone. By empowering our customers to rent their need items with lower price more conveniently.<br> 
																<br /><br />
																<strong>Our main goal is to help our customers to save more money and leave better</strong></p>
                                                        <br /><br /><br />

														<div class="container">
															 <div class="row text-center">
																	 <div class="col-md-3 offset-md-1">
																	   <img src="asset/img/HwangWonki.jpg" class="img-thumbnail" alt="Hwang Wonki" height="236">
																	   <br /><br /><br />
																	   <p><strong>Hwang Wonki</strong></p>
																	   <p>Chief Executive Officer(CEO)</p>
																	 </div>
															 
																	 <div class="col-md-3 offset-md-1">
																	   <img src="asset/img/SalimehSafi.jpg" class="img-thumbnail" alt="Salimeh Safi" height="236">
																	   <br /><br />
																	   <p><strong><a href="asset/img/SaliSafiResume-Nov 2018.pdf" target="_blank">Salimeh Safi</a></strong></p>   
																	   <p>President</p>
																	 </div>
															 
																	 <div class="col-md-3 offset-md-1">
																	   <img src="asset/img/MinukPark.jfif" class="img-thumbnail" alt="Minuk Park" height="236">
																	   <br /><br /><br />
																	   <p><strong>Minuk Park</strong></p>
																	   <p>Chief Technology Officer(CTO)</p>
																	 </div>
															 </div>
														</div>

														<br><br>

                                                        <h4 class="text-center">Rent'emAll Goals/Objectives</h4><br />
                                                        <p>Our web application will empower the items owners to not only save money on storage area but also earn money
                                                                by renting out his/her not-immediately needed items and belongings for a specified period under a negotiable
                                                                contract.
                                                                In this case, the borrower also spends much less for being able to use needed item while the borrower also does
                                                                not worry about maintaining and storing that item after he/she has finished using it. The person simply ships
                                                                it back to the item owner at the end of the contract period. Customer will be able to purchase insurance for
                                                                items based on their interests to be protected in case of unexpected damage to the item.
                                                                Our customers save much more money on using similar items in comparison with brand new buyers who pay high
                                                                prices plus tax.</p>
                                                        <p>Our customers save environment by decreasing waste production and increasing reusability of items.</p>
                                                        <p>Our lenders can earn money by renting out their items instead of paying money for storage area.</p>
                                                        <p class="text-center" style="padding: 35px; color: #17a2b8; font-size: 1.5rem; text-weight: 900;">Rent - Reuse - Return</p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
