<div class="container">
    <div class="row">
      <div class="col-md-5 card card-signin shadow-lg rounded mx-auto my-5">
        <div class="card-body text-center">
          <h3 class="card-title">Oops! Something went wrong.</h3>
          <br>
          <p><span class="font-weight-bold"><%= errormessage %></span> Please try again.</p>
          <br>
          <input type="button" class="btn btn-primary" value="BACK" onclick="history.go(-1)">
        </div>
      </div>
    </div>
  </div>