<style>
 .card .btn-link .fa-chevron-circle-right,
 .card .btn-link .fa-chevron-circle-down
 {
        color: #323232;
        font-size: 1.3rem;
 }
#accordion .card h5 button{
        color: #17a2b8 !important;
        font-weight: 650 !important;
}

@media (max-width: 575px) {
        #accordion .card h5 button{
                white-space: pre-line !important;
        }
}

</style>
<div class="container">
        <div class="row">
                <div class="col-md-10 mx-auto">
                        <div class="shadow-lg rounded">
                                <div class="card my-5">
                                        <div class="card-body">
                                                <div class="container">
                                                        <h3 class="card-title text-center">Frequently Asked Questions (FAQs)</h3><br>
                                                <!--    <img id="myImg" class="mx-auto" src="../../assets/img/faq.png" alt="FAQs" width="100%" height="200" class="img-fluid" style="border: 1px solid #ddd" /> -->
                                                        <div id="accordion">
                                                                <div class="card ">
                                                                        <div class="card-header" id="headingOne">
                                                                                <h5 class="mb-0">
                                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                                                                         aria-controls="collapseTwo">
                                                                                            <span class="indicator fa fa-chevron-circle-right float-left" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;
                                                                                                What is <strong><em>Rent'emAll</em></strong>?
                                                                                        </button>
                                                                                </h5>
                                                                        </div>
                                                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                                                <div class="card-body py-5">
                                                                                        <strong><em>Rent'emAll</em></strong> is a rental web application which is intended for people who have unneeded Items right away, and want to make money through renting out their items.
                                                                                        These days, many people have limited space in storing the items that they might purchased with high prices.
                                                                                        As a team, we believe that using our application will offer a much more systematic and secure rental transaction.
                                                                                </div>
                                                                        </div>
                                                                </div>

                                                                <div class="card">
                                                                        <div class="card-header" id="headingTwo">
                                                                                <h5 class="mb-0">
                                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                                                         aria-controls="collapseTwo">
                                                                                         <span class="indicator fa fa-chevron-circle-right float-left" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;
                                                                                         How does <strong><em>Renem'All</em></strong> work?
                                                                                        </button>
                                                                                </h5>
                                                                        </div>
                                                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                                                <div class="card-body py-5">
                                                                                        <strong><em>Rent'emAll</em></strong> web application will empower the item owners to not only save money on the storage area
                                                                                        but also earn money by renting out his/her not-immediately needed items and belongings for a specified period under a negotiable contract.
                                                                                        <br /><br />
																						<ul>
																							<li>Our customers save much more money on using similar items in comparison with brand new buyers who pay high prices plus tax. </li>
																							<li>Our customers save environment by decreasing waste production and increasing reusability of items. </li>
																							<li>Our lenders can earn money by renting out their items instead of paying money for storage area </li>
																							<li>Web site can work with Insurance companies to get quote and purchase insurance for the items otherwise they must provide pay the value market/negotiated amount for the item(s) </li>
																							<li>Website can work with shipping companies for delivery </li>
																							<li>Websites can work with moving companies for bigger items and bigger quantities </li>
                                                                                        </ul>
                                                                                </div>
                                                                        </div>
                                                                </div>
																
																
                                                                <div class="card">
                                                                        <div class="card-header" id="headingThree">
                                                                                <h5 class="mb-0">
                                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                                                                         aria-controls="collapseFour">
                                                                                                <span class="indicator fa fa-chevron-circle-right float-left" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;
                                                                                                How can I signed up in the web site?
                                                                                        </button>
                                                                                </h5>
                                                                        </div>
                                                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                                                                <div class="card-body py-5">
                                                                                Follow these steps to register on the website.<br /><br /><br /><br />
                                                                                        <ol>
                                                                                                <li>Click on the "Register" link on the top-right side of the navigation bar<br /><br />
                                                                                                        <img src="\asset\img\RegisterLink.JPG" width="350" height="70" class="img-fluid" title="Registeration Link"/><br /><br />
                                                                                                </li>
                                                                                                <li>Then, fill out the registration form<br /><br />
                                                                                                        <img src="\asset\img\RegisterForm.JPG" width="550" height="400" class="img-fluid" title="Registeration Form"/><br /><br />
                                                                                                </li>
                                                                                        </ol>
                                                                                </div>
                                                                        </div>
                                                                </div>

                                                                <div class="card">
                                                                        <div class="card-header" id="headingFour">
                                                                                <h5 class="mb-0">
                                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                                                                         aria-controls="collapseThree">
                                                                                                <span class="indicator fa fa-chevron-circle-right float-left" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;
                                                                                                Do I have to sign up for this website?
                                                                                        </button>
                                                                                </h5>
                                                                        </div>
                                                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                                                                <div class="card-body py-5">
                                                                                        Visiting the rental item listings are available to all the website visitors; however, in order to create a listing or rent any items,
                                                                                        you must be a registered user.
                                                                                </div>
                                                                        </div>
                                                                </div>


                                                                <div class="card">
                                                                        <div class="card-header" id="headingFive">
                                                                                <h5 class="mb-0">
                                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                                                                         aria-controls="collapseFive">
                                                                                                <span class="indicator fa fa-chevron-circle-right float-left" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;
                                                                                                How can I  rent my stuff to someone else?
                                                                                        </button>
                                                                                </h5>
                                                                        </div>
                                                                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                                                                <div class="card-body py-5">
                                                                                        In order to create a listing follow these steps.<br /><br /><br /><br />
                                                                                        <ol>
                                                                                                <li>Click on the "Post Item" button on the top-right side of the navigation bar<br /><br />
                                                                                                        <img src="\asset\img\PostItem.JPG" width="350" height="70" class="img-fluid" title="Post Item button"/><br /><br />
                                                                                                </li>
                                                                                                <li>Then, fill out the registration form<br /><br />
                                                                                                        <img src="\asset\img\PostProduct.JPG" width="550" height="400" class="img-fluid" title="Post Product Page"/><br /><br />
                                                                                                </li>
                                                                                        </ol>
                                                                                </div>
                                                                        </div>
                                                                </div>

                                                                <div class="card">
                                                                        <div class="card-header" id="headingSix">
                                                                                <h5 class="mb-0">
                                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                                                                                         aria-controls="collapseSix">
                                                                                            <span class="indicator fa fa-chevron-circle-right float-left" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;
                                                                                                Do I really need a picture to post an ad?
                                                                                        </button>
                                                                                </h5>
                                                                        </div>
                                                                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                                                                <div class="card-body py-5">
                                                                                        It is true that posting minimum one picture for your item is not required, but it definitly increased the chance of attracting customers.
                                                                                </div>
                                                                        </div>
                                                                </div>

                                                                <div class="card">
                                                                        <div class="card-header" id="headingSeven">
                                                                                <h5 class="mb-0">
                                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
                                                                                         aria-controls="collapseSeven">
                                                                                                <span class="indicator fa fa-chevron-circle-right float-left" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;
                                                                                                Is it safe to rent out my items to other people?
                                                                                        </button>
                                                                                </h5>
                                                                        </div>
                                                                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                                                                <div class="card-body py-5">
                                                                                        <strong><em>Rent'emAll</em></strong>'s policies and dedicated teams are working hard together to assure you for your item return guarantee in good condition.
                                                                                </div>
                                                                        </div>
                                                                </div>
																
																
                                                                <div class="card">
                                                                        <div class="card-header" id="headingEight">
                                                                                <h5 class="mb-0">
                                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#headingEight" aria-expanded="false"
                                                                                         aria-controls="headingEight">
                                                                                                <span class="indicator fa fa-chevron-circle-right float-left" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;
                                                                                                What types of tools can I rent?
                                                                                        </button>
                                                                                </h5>
                                                                        </div>
                                                                        <div id="headingEight" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                                                                <div class="card-body py-5">
                                                                                        <strong><em>Rent'emAll</em></strong> offers a variety of professional-quality tools and items ranging from smaller hand-tools to books and clothing.
                                                                                </div>
                                                                        </div>
                                                                </div>
																
																
																
																
                                                                <div class="card">
																	<div class="card-header" id="headingNine">
																			<h5 class="mb-0">
																					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#headingNine" aria-expanded="false"
																					 aria-controls="headingNine">
																							<span class="indicator fa fa-chevron-circle-right float-left" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;
																							What happens if a tool breaks down while using it?
																					</button>
																			</h5>
																	</div>
																	<div id="headingNine" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
																		<div class="card-body py-5">
																				<strong><em>Rent'emAll</em></strong> offers an optional <strong>Damage protection Insurance</strong> which relieves Customer of repair or replacement charges if the rental item is accidentally damaged during normal use during the Rental Period. The charge for Damage Protection is <strong>10%</strong> of the Rental Price and will appear as a separate line item charge on the Agreement and on the invoice. Customer must accept or decline the Damage Protection service at the time of rental. Damage Protection does cover loss of or damage to the rental item caused by theft, abuse, misuse, neglect, intentional acts and/or failure to follow proper use and care instructions provided for the rental item.                                                                                 
																		</div>
																	</div>
																 </div>
																
																
																
                                                                <div class="card">
                                                                        <div class="card-header" id="headingTen">
                                                                                <h5 class="mb-0">
                                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#headingTen" aria-expanded="false"
                                                                                         aria-controls="headingTen">
                                                                                                <span class="indicator fa fa-chevron-circle-right float-left" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;
                                                                                                How can I get an item delivered to my address?
                                                                                        </button>
                                                                                </h5>
                                                                        </div>
                                                                        <div id="headingTen" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                                                                <div class="card-body py-5">
                                                                                        There are variety of shipmemt methods ahich the arragement must happen between item owner and borrower. Most of the items will fit in your car or truck.  
                                                                                </div>
                                                                        </div>
                                                                </div>
 
 
																
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
<script>
$('.collapse').on('shown.bs.collapse', function () {
    $(this).parent().find(".fa-chevron-circle-right").removeClass("fa-chevron-circle-right").addClass("fa-chevron-circle-down");
}).on('hidden.bs.collapse', function () {
    $(this).parent().find(".fa-chevron-circle-down").removeClass("fa-chevron-circle-down").addClass("fa-chevron-circle-right");
});
</script>
