<div class="container">
    <div class="row">
      <div class="col-md-5 card card-signin shadow-lg rounded mx-auto my-5">
        <div class="card-body text-center">
          <h3 class="card-title"><%= title %></h3>
          <br>
          <p><%= content %></p>
          <br>
          <a href="/"><input type="button" class="btn btn-primary" value="Back to Main"></a>
        </div>
      </div>
    </div>
  </div>