<div class="container">
  <div class="row">
    <div class="col-md-7 card shadow-lg rounded my-5 mx-auto">
      <div class="card-body">
        <h2 class="card-title text-center">Reset Password</h2>
        <p class="text-center">Please enter a new password and retype the password. Both must be the same.</p>
        <br>
        <form>
          <div class="form-group">
            <label for="newPassword">NEW PASSWORD</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control mb-1" required autofocus>
            <p class="text-black-50" id="passwordGuide">* Password must contain at least 2 special characters.</p>
          </div>
          <br>
          <div class="form-group">
            <label for="retypepw">RETYPE PASSWORD</label>
            <input type="password" id="retypepw" name="retypepw" class="form-control mb-1" required>
            <p class="text-black-50" id="passwordGuide">* Both passwords must be the same.</p>
          </div>
          <br>
          <div class="text-center">
            <button class="btn btn-lg btn-primary text-uppercase px-5" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>