<div class="container-fluid fixed-bottom" style="background-color: #225079; height: 20px;">
    <p style="color: aliceblue; text-align: center; font-size: 10px; padding-top: 4px;">Copyright © 2018 Rent'emAll
        All rights reserved.</p>
</div>