<div class="row" id="navigation">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <!-- <a class="navbar-brand" href="#">Rent'emAll</a> -->
            <!-- <a id="navbar-logo" href="#"><img src="../../assets/img/logo.png"></a> -->
            <button class="navbar-toggler ml-auto hidden-sm-up float-xs-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <div class="dropdown">
                        <a href="/list/1?home=1&searchbar=0"><button class="dropbtn">Homeware</button></a>
                        <!-- <div class="dropdown-content">
                            <a href="#">Household Appliance</a>
                            <a href="#">Kitchen Appliance</a>
                            <a href="#">Furniture</a>
                            <a href="#">Home Décor</a>
                            <a href="#">Cleaning</a>
                            <a href="#">Personal Care</a>
                            <a href="#">Pet Care</a>
                        </div> -->
                    </div>
                    <div class="dropdown">
                        <a href="/list/1?tools=2&searchbar=0"><button class="dropbtn">Tools and Equipment</button></a>
                        <!-- <div class="dropdown-content">
                            <a href="#">Power Tools</a>
                            <a href="#">Hand Tools</a>
                            <a href="#">Hardware</a>
                            <a href="#">Ladders and Scaffoldings</a>
                            <a href="#">Plumbing</a>
                            <a href="#">Garden Tools</a>
                            <a href="#">Accessories</a>
                        </div> -->
                    </div>
                    <div class="dropdown">
                        <a href="/list/1?sports=3&searchbar=0"><button class="dropbtn">Sports and Recrations</button></a>
                        <!-- <div class="dropdown-content">
                            <a href="#">Bikes</a>
                            <a href="#">Camping</a>
                            <a href="#">Fishing</a>
                            <a href="#">Hunting</a>
                            <a href="#">Water Sports</a>
                            <a href="#">Winter Sports</a>
                            <a href="#">Fitness</a>
                            <a href="#">Team Sports</a>
                        </div> -->
                    </div>
                    <div class="dropdown">
                        <a href="/list/1?entertainment=4&searchbar=0"><button class="dropbtn">Entertainment</button></a>
                        <!-- <div class="dropdown-content">
                            <a href="#">Books</a>
                            <a href="#">Music</a>
                            <a href="#">Movies</a>
                            <a href="#">Games</a>
                            <a href="#">Computers</a>
                            <a href="#">TVs</a>
                            <a href="#">Phones</a>
                        </div> -->
                    </div>
                    <div class="dropdown">
                        <a href="/list/1?babies=5&searchbar=0"><button class="dropbtn">Babies and Kids</button></a>
                        <!-- <div class="dropdown-content">
                            <a href="#">Clothing</a>
                            <a href="#">Toys</a>
                            <a href="#">Maternity</a>
                            <a href="#">Car Seats</a>
                            <a href="#">Strollers</a>
                            <a href="#">Furniture</a>
                            <a href="#">Accessories</a>
                        </div> -->
                    </div>
                    <div class="dropdown">
                        <a href="/list/1?fashion=6&searchbar=0"><button class="dropbtn">Fashion</button></a>
                        <!-- <div class="dropdown-content">
                            <a href="#">Men's Clothing</a>
                            <a href="#">Men's Accessories</a>
                            <a href="#">Women's Clothing</a>
                            <a href="#">Women's Accessories</a>
                        </div> -->
                    </div>
                </ul>
            </div>
        </nav>
    </div>
</div>